* {
  margin: 0;
  padding: 0;
}

.navbar {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 99999999;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  /* width: 100%; */
  z-index: 999;
  background-color: white;
}

.navbar__icon {
  color: grey;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 99999;
}

#nav__btn {
  position: relative;
  width: 70px;
  margin: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  background-color: transparent;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  z-index: 9999;
}

#nav__btn:hover {
  background-color: #4378e5;
  cursor: pointer;
}

#nav__btn:active {
  color: grey;
  background-color: rgb(255, 255, 255);
}

#nav__btn:focus {
  background-color: #4378e5;
}

#nav__btn:focus > h4 {
  color: white;
}

#nav__btn:focus > .navbar__icon {
  color: white;
}

@media (min-width: 1281px) {
  .navbar {
    display: flex;
    float: left;
    top: 0;
    z-index: 1;
    margin-right: 60px;
    width: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    background: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    display: flex;
    float: left;
    top: 0;
    z-index: 1;
    margin-right: 60px;
    width: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    background: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    display: flex;
    float: left;
    top: 0;
    z-index: 1;
    background: none;
    width: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    background: none;
    margin-right: 750px;
    z-index: 1;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 480px) {
}
